.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  /* margin-bottom: 3em; */
  font-size: 12pt;
  font-family: "GFS Didot", serif;
  letter-spacing: 8px;
}

/* font-family: 'Tenor Sans', sans-serif; */

.navbar-nav li a{
  letter-spacing: 2px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
  letter-spacing: 2px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-background {
  width: 100%;
  height: 50vh;
  background-image: url("./assets/images/real_balkon_day.jpg"); /*day image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.portfol{
  color: whitesmoke;
  width: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("./assets/images/chicago_skyline.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#portfolio-class{
  color: whitesmoke;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("./assets/images/chicago_skyline.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#welcome {
  /* text-align: center; */
  /* position: absolute; */
  /* top: 5%; */
  /* left: 17%; */
  font-size: 3rem;
  color: #fbffb1;
  animation: flicker 1.5s infinite alternate;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.4rem;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #fbffb1,
      0 0 80px #fbffb1, 0 0 90px #fbffb1, 0 0 120px #fbffb1, 0 0 150px #fbffb1;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#memories {
  background-color: #e8e8e8;
}

#menu {
  background-color: whitesmoke;
}

#footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}


/* .gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.card-img-top {
  width: 100%;
  height: 40vw;
  max-height: 400px;
  object-fit: cover;
}

.card-cover {
  max-width: 500px;
  border-color: #800020;
}

.drink-card-col {
  display: flex;
  justify-content: center;
}

.icon-img {
  height: 36px;
  width: 36px;
}

.card-text {
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0.2rem;
}

@keyframes box-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 4px black, 0 0 11px black, 0 0 19px black,
      /* 0 0 30px black, */ 0 0 40px #bc13fe, /*  #ffd4b1, */ 0 0 80px #bc13fe;
    /* 0 0 90px black; */
    /* 0 0 120px #bc13fe; */
    /* 0 0 150px #bc13fe; */
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

.menu-container {
  /* position: absolute; */
  /* top: 55%; */
  /* left: 25%; */
  grid-column-start: 1;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.drinks {
  font-family: "Nunito", sans-serif;
  color: #800020;
  /* animation: drink-flicker 1.5s infinite alternate; */
  font-size: 2rem;
  text-align: left;
  margin: 0;
  letter-spacing: 0.4rem;
}

#rand-drink {
  font-family: "Nunito", sans-serif;
  color: #bc13fe;
  /* animation: drink-flicker-rand 1.5s infinite alternate; */
  /* animation: box-flicker 1.5s infinite alternate; */
  font-size: 2rem;
  text-align: left;
  margin: 0;
  letter-spacing: 0.4rem;
}

#rand-card {
  border-color: black;
  animation: box-flicker 0.5s infinite alternate !important;
  border-radius: 2rem;
}

@media (max-width: 600px) {
  .menu-container {
    flex-direction: column;
  }
}

/* card flip */

/* random card reveal */

.scene {
  display: inline-block;
  width: 400px;
  height: 400px;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.rotating-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.75s;
}

.rotating-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card__face--front {
  background-image: url("./assets/images/random.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.card__face--back {
  background-image: none;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;

  transform: rotateY(180deg);
}

/* #rand_card_back_img{
  width: 100%;
  height: 40vw;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
} */

.ccbb-revealed {
  background-image: url("./assets/images/doublecherry.jpg");
}
.ocs-revealed {
  background-image: url("./assets/images/onecherry.jpg");
}
.ws-revealed {
  background-image: url("./assets/images/whiskey_smash.jpg");
}
.secret-revealed {
  background-image: url("./assets/images/question_mark.jpg");
}

/* footer animation */

.flying-emojis {
  font-size: 1.5rem;
  animation: slide 5s linear infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw) rotate(360deg);
  }
}

.blurring {
  font-size: 2rem;
  animation: slide-blur 5s linear infinite alternate;
}

@keyframes slide-blur {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw) rotate(360deg);
    filter: blur(3px);
  }
}
